In [1]:
import pandas as pd 
import numpy as np 
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
df = pd.read_csv(url, sep='\t')

In [2]:
df.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [3]:
print(df.head(20))

    order_id  quantity                              item_name  \
0          1         1           Chips and Fresh Tomato Salsa
1          1         1                                   Izze
2          1         1                       Nantucket Nectar
3          1         1  Chips and Tomatillo-Green Chili Salsa
4          2         2                           Chicken Bowl
5          3         1                           Chicken Bowl
6          3         1                          Side of Chips
7          4         1                          Steak Burrito
8          4         1                       Steak Soft Tacos
9          5         1                          Steak Burrito
10         5         1                    Chips and Guacamole
11         6         1                   Chicken Crispy Tacos
12         6         1                     Chicken Soft Tacos
13         7         1                           Chicken Bowl
14         7         1                    Chips and Guacamole
15         8         1  Chips and Tomatillo-Green Chili Salsa
16         8         1                        Chicken Burrito
17         9         1                        Chicken Burrito
18         9         2                            Canned Soda
19        10         1                           Chicken Bowl

                                   choice_description item_price
0                                                 NaN     $2.39
1                                        [Clementine]     $3.39
2                                             [Apple]     $3.39
3                                                 NaN     $2.39
4   [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98
5   [Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...    $10.98
6                                                 NaN     $1.69
7   [Tomatillo Red Chili Salsa, [Fajita Vegetables...    $11.75
8   [Tomatillo Green Chili Salsa, [Pinto Beans, Ch...     $9.25
9   [Fresh Tomato Salsa, [Rice, Black Beans, Pinto...     $9.25
10                                                NaN     $4.45
11  [Roasted Chili Corn Salsa, [Fajita Vegetables,...     $8.75
12  [Roasted Chili Corn Salsa, [Rice, Black Beans,...     $8.75
13  [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...    $11.25
14                                                NaN     $4.45
15                                                NaN     $2.39
16  [Tomatillo-Green Chili Salsa (Medium), [Pinto ...     $8.49
17  [Fresh Tomato Salsa (Mild), [Black Beans, Rice...     $8.49
18                                           [Sprite]     $2.18
19  [Tomatillo Red Chili Salsa, [Fajita Vegetables...     $8.75

In [4]:
print(df.shape[0])
print(df.shape[1])
print(len(df))

4622
5
4622

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [6]:
df.describe()

          order_id     quantity
count  4622.000000  4622.000000
mean    927.254868     1.075725
std     528.890796     0.410186
min       1.000000     1.000000
25%     477.250000     1.000000
50%     926.000000     1.000000
75%    1393.000000     1.000000
max    1834.000000    15.000000

In [7]:
df.isna().sum()

order_id                 0
quantity                 0
item_name                0
choice_description    1246
item_price               0
dtype: int64

In [8]:
print(df.columns)
print(df.index)

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')
RangeIndex(start=0, stop=4622, step=1)

In [9]:
most_order = df.groupby('item_name').sum().sort_values('quantity', ascending=False)
print(f"sort by most order: {most_order}")

sort by most order:                                        order_id  quantity  \
item_name
Chicken Bowl                             713926       761
Chicken Burrito                          497303       591
Chips and Guacamole                      449959       506
Steak Burrito                            328437       386
Canned Soft Drink                        304753       351
Chips                                    208004       230
Steak Bowl                               193752       221
Bottled Water                            175944       211
Chips and Fresh Tomato Salsa             100419       130
Canned Soda                               76396       126
Chicken Salad Bowl                       117104       123
Chicken Soft Tacos                        98395       120
Side of Chips                             84769       110
Veggie Burrito                            80962        97
Barbacoa Burrito                          74718        91
Veggie Bowl                               72270        87
Carnitas Bowl                             62742        71
Barbacoa Bowl                             53972        66
Carnitas Burrito                          51652        60
Steak Soft Tacos                          50177        56
6 Pack Soft Drink                         52322        55
Chicken Crispy Tacos                      47382        50
Chips and Tomatillo Red Chili Salsa       45556        50
Chips and Tomatillo Green Chili Salsa     41170        45
Carnitas Soft Tacos                       37673        40
Steak Crispy Tacos                        35818        36
Chips and Tomatillo-Green Chili Salsa     21826        33
Steak Salad Bowl                          29590        31
Nantucket Nectar                          21814        29
Chips and Tomatillo-Red Chili Salsa       18344        25
Barbacoa Soft Tacos                       18725        25
Chips and Roasted Chili Corn Salsa        14999        23
Izze                                      10587        20
Veggie Salad Bowl                         17303        18
Chips and Roasted Chili-Corn Salsa        17462        18
Barbacoa Crispy Tacos                      5613        12
Barbacoa Salad Bowl                        9708        10
Chicken Salad                             10465         9
Carnitas Crispy Tacos                      5868         8
Veggie Soft Tacos                          5520         8
Burrito                                    1550         6
Carnitas Salad Bowl                        6693         6
Veggie Salad                               7265         6
Bowl                                        472         4
Steak Salad                                2362         4
Salad                                      1150         2
Crispy Tacos                                434         2
Carnitas Salad                             1500         1
Chips and Mild Fresh Tomato Salsa           279         1
Veggie Crispy Tacos                         668         1

                                                                      choice_description  \
item_name
Chicken Bowl                           [Tomatillo-Red Chili Salsa (Hot), [Black Beans...
Chicken Burrito                        [Tomatillo-Green Chili Salsa (Medium), [Pinto ...
Chips and Guacamole                                                                    0
Steak Burrito                          [Tomatillo Red Chili Salsa, [Fajita Vegetables...
Canned Soft Drink                      [Coke][Sprite][Coke][Coke][Lemonade][Sprite][D...
Chips                                                                                  0
Steak Bowl                             [Fresh Tomato Salsa (Mild), [Black Beans, Rice...
Bottled Water                                                                          0
Chips and Fresh Tomato Salsa                                                           0
Canned Soda                            [Sprite][Dr. Pepper][Mountain Dew][Sprite][Dr....
Chicken Salad Bowl                     [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...
Chicken Soft Tacos                     [Roasted Chili Corn Salsa, [Rice, Black Beans,...
Side of Chips                                                                          0
Veggie Burrito                         [Tomatillo Red Chili Salsa, [Fajita Vegetables...
Barbacoa Burrito                       [[Fresh Tomato Salsa (Mild), Tomatillo-Green C...
Veggie Bowl                            [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...
Carnitas Bowl                          [Tomatillo-Red Chili Salsa (Hot), [Black Beans...
Barbacoa Bowl                          [Roasted Chili Corn Salsa, [Fajita Vegetables,...
Carnitas Burrito                       [[Tomatillo-Green Chili Salsa (Medium), Roaste...
Steak Soft Tacos                       [Tomatillo Green Chili Salsa, [Pinto Beans, Ch...
6 Pack Soft Drink                      [Sprite][Diet Coke][Coke][Diet Coke][Diet Coke...
Chicken Crispy Tacos                   [Roasted Chili Corn Salsa, [Fajita Vegetables,...
Chips and Tomatillo Red Chili Salsa                                                    0
Chips and Tomatillo Green Chili Salsa                                                  0
Carnitas Soft Tacos                    [Tomatillo Green Chili Salsa, [Fajita Vegetabl...
Steak Crispy Tacos                     [Fresh Tomato Salsa, Sour Cream][[Roasted Chil...
Chips and Tomatillo-Green Chili Salsa                                                  0
Steak Salad Bowl                       [Tomatillo Red Chili Salsa, [Black Beans, Chee...
Nantucket Nectar                       [Apple][Pomegranate Cherry][Pineapple Orange B...
Chips and Tomatillo-Red Chili Salsa                                                    0
Barbacoa Soft Tacos                    [Fresh Tomato Salsa, [Fajita Vegetables, Black...
Chips and Roasted Chili Corn Salsa                                                     0
Izze                                   [Clementine][Grapefruit][Blackberry][Blackberr...
Veggie Salad Bowl                      [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...
Chips and Roasted Chili-Corn Salsa                                                     0
Barbacoa Crispy Tacos                  [Tomatillo Red Chili Salsa, [Rice, Black Beans...
Barbacoa Salad Bowl                    [Fresh Tomato Salsa, [Rice, Fajita Vegetables,...
Chicken Salad                          [Roasted Chili Corn Salsa (Medium), [Black Bea...
Carnitas Crispy Tacos                  [Roasted Chili Corn Salsa][Tomatillo Green Chi...
Veggie Soft Tacos                      [Tomatillo Red Chili Salsa, [Fajita Vegetables...
Burrito                                [Adobo-Marinated and Grilled Chicken, Pinto Be...
Carnitas Salad Bowl                    [Fresh Tomato Salsa, [Rice, Black Beans, Chees...
Veggie Salad                           [[Fresh Tomato Salsa (Mild), Roasted Chili Cor...
Bowl                                   [Braised Carnitas, Pinto Beans, [Sour Cream, C...
Steak Salad                            [Tomatillo-Red Chili Salsa (Hot), [Black Beans...
Salad                                  [Brown Rice, Adobo-Marinated and Grilled Chick...
Crispy Tacos                           [Adobo-Marinated and Grilled Steak][Adobo-Mari...
Carnitas Salad                         [[Fresh Tomato Salsa (Mild), Roasted Chili Cor...
Chips and Mild Fresh Tomato Salsa                                                      0
Veggie Crispy Tacos                    [Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...

                                                                              item_price
item_name
Chicken Bowl                           $16.98 $10.98 $11.25 $8.75 $8.49 $11.25 $8.75 ...
Chicken Burrito                        $8.49 $8.49 $10.98 $8.49 $10.98 $10.98 $8.75 $...
Chips and Guacamole                    $4.45 $4.45 $4.45 $4.45 $4.45 $3.99 $4.45 $3.9...
Steak Burrito                          $11.75 $9.25 $8.99 $11.75 $8.99 $8.99 $8.99 $8...
Canned Soft Drink                      $1.25 $1.25 $1.25 $1.25 $1.25 $1.25 $1.25 $1.2...
Chips                                  $2.15 $2.15 $2.15 $2.15 $2.15 $2.15 $4.30 $2.1...
Steak Bowl                             $8.99 $8.99 $11.75 $11.75 $8.99 $11.48 $9.25 $...
Bottled Water                          $1.09 $1.09 $1.09 $1.50 $1.50 $1.50 $3.00 $1.5...
Chips and Fresh Tomato Salsa           $2.39 $2.39 $2.39 $2.95 $2.95 $2.95 $2.95 $2.3...
Canned Soda                            $2.18 $1.09 $2.18 $1.09 $1.09 $1.09 $1.09 $2.1...
Chicken Salad Bowl                     $8.75 $22.50 $22.50 $8.75 $17.50 $8.75 $8.75 $...
Chicken Soft Tacos                     $8.75 $8.75 $8.75 $8.75 $11.25 $8.49 $8.49 $8....
Side of Chips                          $1.69 $1.69 $1.69 $1.69 $1.69 $1.69 $1.69 $1.6...
Veggie Burrito                         $11.25 $8.49 $11.25 $11.25 $10.98 $8.49 $8.49 ...
Barbacoa Burrito                       $8.99 $9.25 $9.25 $11.75 $11.75 $9.25 $8.99 $1...
Veggie Bowl                            $11.25 $8.49 $11.25 $11.25 $8.49 $11.25 $11.25...
Carnitas Bowl                          $8.99 $11.75 $9.25 $11.48 $8.99 $8.99 $23.50 $...
Barbacoa Bowl                          $11.75 $11.75 $9.25 $8.99 $9.25 $11.75 $9.25 $...
Carnitas Burrito                       $8.99 $9.25 $11.75 $9.25 $9.25 $9.25 $11.75 $9...
Steak Soft Tacos                       $9.25 $9.25 $8.99 $9.25 $8.99 $8.99 $9.25 $9.2...
6 Pack Soft Drink                      $6.49 $6.49 $6.49 $6.49 $6.49 $6.49 $6.49 $6.4...
Chicken Crispy Tacos                   $8.75 $17.50 $11.25 $8.49 $8.49 $11.25 $8.75 $...
Chips and Tomatillo Red Chili Salsa    $2.95 $2.95 $2.95 $2.95 $2.95 $2.95 $2.95 $2.9...
Chips and Tomatillo Green Chili Salsa  $2.95 $2.95 $5.90 $2.95 $2.95 $2.95 $2.95 $2.9...
Carnitas Soft Tacos                    $9.25 $9.25 $9.25 $9.25 $9.25 $8.99 $8.99 $8.9...
Steak Crispy Tacos                     $9.25 $8.99 $9.25 $8.69 $8.99 $9.25 $8.99 $9.2...
Chips and Tomatillo-Green Chili Salsa  $2.39 $2.39 $2.39 $2.39 $2.39 $2.39 $2.39 $2.3...
Steak Salad Bowl                       $23.78 $11.89 $9.39 $23.78 $11.89 $11.89 $11.8...
Nantucket Nectar                       $3.39 $3.39 $3.39 $3.39 $3.39 $3.39 $6.78 $3.3...
Chips and Tomatillo-Red Chili Salsa    $2.39 $2.39 $2.39 $2.39 $2.39 $2.39 $2.39 $2.3...
Barbacoa Soft Tacos                    $9.25 $9.25 $8.99 $9.25 $9.25 $11.75 $11.75 $9...
Chips and Roasted Chili Corn Salsa     $2.95 $2.95 $2.95 $2.95 $2.95 $2.95 $2.95 $2.9...
Izze                                   $3.39 $3.39 $3.39 $3.39 $3.39 $3.39 $3.39 $3.3...
Veggie Salad Bowl                      $11.25 $11.25 $11.25 $11.25 $8.75 $8.75 $11.25...
Chips and Roasted Chili-Corn Salsa     $2.39 $2.39 $2.39 $2.39 $2.39 $2.39 $2.39 $2.3...
Barbacoa Crispy Tacos                  $11.75 $9.25 $11.48 $11.75 $9.25 $9.25 $8.99 $...
Barbacoa Salad Bowl                    $11.89 $11.89 $9.39 $9.39 $9.39 $11.89 $11.89 ...
Chicken Salad                          $10.98 $10.98 $8.49 $8.49 $8.49 $8.49 $8.49 $8...
Carnitas Crispy Tacos                      $9.25 $11.75 $8.99 $11.75 $8.99 $17.98 $9.25
Veggie Soft Tacos                          $11.25 $8.75 $8.49 $11.25 $8.75 $8.49 $16.98
Burrito                                             $7.40 $7.40 $7.40 $7.40 $7.40 $7.40
Carnitas Salad Bowl                             $11.89 $9.39 $11.89 $9.39 $11.89 $11.89
Veggie Salad                                        $8.49 $8.49 $8.49 $8.49 $8.49 $8.49
Bowl                                                                       $22.20 $7.40
Steak Salad                                                     $8.99 $8.99 $8.99 $8.69
Salad                                                                       $7.40 $7.40
Crispy Tacos                                                                $7.40 $7.40
Carnitas Salad                                                                    $8.99
Chips and Mild Fresh Tomato Salsa                                                 $3.00
Veggie Crispy Tacos                                                               $8.49

In [10]:
print(most_order['quantity'].values[0])

761

In [11]:
most_order_choice = df.groupby('choice_description').sum().sort_values('quantity', ascending=True)
print(most_order_choice)

                                                    order_id  quantity  \
choice_description
[Fresh Tomato Salsa, [Black Beans, Pinto Beans,...       974         1
[[Tomatillo-Red Chili Salsa (Hot), Tomatillo-Gr...      1215         1
[Tomatillo Green Chili Salsa, [Black Beans, Che...      1163         1
[[Tomatillo-Red Chili Salsa (Hot), Roasted Chil...       186         1
[[Tomatillo-Red Chili Salsa (Hot), Fresh Tomato...      1010         1
...                                                      ...       ...
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese...     36041        42
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese...     43088        49
[Sprite]                                               80426        89
[Coke]                                                122752       143
[Diet Coke]                                           123455       159

                                                                                            item_name  \
choice_description
[Fresh Tomato Salsa, [Black Beans, Pinto Beans,...                                   Carnitas Burrito
[[Tomatillo-Red Chili Salsa (Hot), Tomatillo-Gr...                                       Chicken Bowl
[Tomatillo Green Chili Salsa, [Black Beans, Che...                                    Chicken Burrito
[[Tomatillo-Red Chili Salsa (Hot), Roasted Chil...                                 Chicken Soft Tacos
[[Tomatillo-Red Chili Salsa (Hot), Fresh Tomato...                                      Carnitas Bowl
...                                                                                               ...
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese...  Chicken BowlChicken BowlChicken BurritoCarnita...
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese...  Chicken BowlChicken BurritoChicken BowlChicken...
[Sprite]                                            Canned SodaCanned SodaCanned Soft Drink6 Pack ...
[Coke]                                              Canned Soft DrinkCanned Soft DrinkCanned Soft ...
[Diet Coke]                                         Canned SodaCanned SodaCanned Soda6 Pack Soft D...

                                                                                           item_price
choice_description
[Fresh Tomato Salsa, [Black Beans, Pinto Beans,...                                             $9.25
[[Tomatillo-Red Chili Salsa (Hot), Tomatillo-Gr...                                             $8.49
[Tomatillo Green Chili Salsa, [Black Beans, Che...                                            $11.25
[[Tomatillo-Red Chili Salsa (Hot), Roasted Chil...                                            $10.98
[[Tomatillo-Red Chili Salsa (Hot), Fresh Tomato...                                            $11.48
...                                                                                               ...
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese...  $17.50 $8.75 $8.75 $9.25 $8.75 $9.25 $8.75 $8....
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese...  $8.75 $8.75 $8.75 $8.75 $9.25 $8.75 $8.75 $8.7...
[Sprite]                                            $2.18 $1.09 $1.25 $6.49 $1.25 $1.25 $1.09 $1.2...
[Coke]                                              $1.25 $1.25 $1.25 $6.49 $1.25 $1.25 $1.25 $1.2...
[Diet Coke]                                         $2.18 $1.09 $1.09 $6.49 $2.18 $1.25 $1.09 $6.4...

[1043 rows x 4 columns]

In [12]:
print(df['item_price'].dtype)
df['item_price'] = df['item_price'].apply(lambda x:float(x[1:]))
print(df['item_price'].dtype)

object
float64

In [13]:
df['total_price'] = df['quantity'] * df['item_price']
total = df['total_price'].sum()
print(total)

39237.02

In [14]:
total_orders = df['order_id'].nunique()
print(f"total orders: {total_orders}")

total orders: 1834

In [15]:
avg = total / total_orders
diff = df['item_name'].nunique()
print(f"average per order: {avg}")
print(diff)

average per order: 21.39423118865867
50

In [16]:
df_group = df.groupby('order_id').sum()
avg_per_order = df_group['total_price'].mean()
print(f"average per order: {avg_per_order}")

average per order: 21.39423118865867

In [29]:
print(f"test: {df.groupby('item_name').item_price.agg(['mean', 'min', 'max']).head()}")
print(f"total: {df.groupby('item_name')['item_price'].agg(['mean' , 'min', 'max']).loc['Barbacoa Bowl']}")
print(f"group by: {df[df['item_name'] == 'Barbacoa Bowl'].groupby('item_name')['item_price'].agg(['mean' , 'min', 'max'])}")

test:                             mean   min    max
item_name
6 Pack Soft Drink       6.610185  6.49  12.98
Barbacoa Bowl          10.187273  8.69  11.75
Barbacoa Burrito        9.832418  8.69  11.75
Barbacoa Crispy Tacos  10.928182  8.99  18.50
Barbacoa Salad Bowl    10.640000  9.39  11.89
total: mean    10.187273
min      8.690000
max     11.750000
Name: Barbacoa Bowl, dtype: float64
group by:                     mean   min    max
item_name
Barbacoa Bowl  10.187273  8.69  11.75

In [21]:
df[df['item_name'] == 'Barbacoa Bowl'].describe()

          order_id  quantity  item_price  total_price
count    66.000000      66.0   66.000000    66.000000
mean    817.757576       1.0   10.187273    10.187273
std     538.969246       0.0    1.260994     1.260994
min      19.000000       1.0    8.690000     8.690000
25%     428.750000       1.0    9.250000     9.250000
50%     690.500000       1.0    9.250000     9.250000
75%    1259.250000       1.0   11.750000    11.750000
max    1825.000000       1.0   11.750000    11.750000

In [30]:
print(f"total: {df.groupby('item_name')['item_price'].agg(['mean','min','max']).head()}")

total:                             mean   min    max
item_name
6 Pack Soft Drink       6.610185  6.49  12.98
Barbacoa Bowl          10.187273  8.69  11.75
Barbacoa Burrito        9.832418  8.69  11.75
Barbacoa Crispy Tacos  10.928182  8.99  18.50
Barbacoa Salad Bowl    10.640000  9.39  11.89

In [33]:
df.loc[0:7, "order_id":"choice_description"]

,order_id,quantity,item_name,choice_description
0,1,1,Chips and Fresh Tomato Salsa,NaN
1,1,1,Izze,[Clementine]
2,1,1,Nantucket Nectar,[Apple]
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans..."
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou..."
6,3,1,Side of Chips,NaN
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables..."